<div class="inner cover">
  <h1>Honeycomb</h1>
  <p class="lead">A general purpose analytics tool</p>
  <% if current_user %>
    <%= link_to "My Dashboard", events_path, method: :options, class: 'btn btn-lg btn-default' %>
  <% else %>
    <p>You need a Honeycomb account to continue</p>
    <%= link_to "Sign in", new_user_session_path, class: 'btn btn-lg btn-default' %>
    <%= link_to "Sign up", new_user_registration_path, class: 'btn btn-lg btn-default' %>
  <% end %>
</div>