 @import "bootstrap";

 // General Styling
body {
  background-color: #fff;
  color: #555;
}

a.btn {
  text-decoration: none;
}

// Header
.header {
  margin-top: 20px;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}
.nav-link {
  margin-left: 10px;
  font-size: 16px;
  color: #555;
}

// Home Page
.brand {
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
}

// Pages
.container-body {
  margin-top: 15px;
}

.inner {
  margin-top: 5%;
  height: 100%;
  background-color: #fff;
  color: #333;
  text-align: center;
}

// Devise Forms
.devise-forms {
  float: none;
  margin: 0 auto;
}
